
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 24%; margin-left: 20%;">
</div>

<div class="actions">
        <a href="/Teacher/ViewPupils" class="elem">Ученики</a>
        <a href="/Teacher/ViewClasses" class="elem">Классы</a>
        <a href="/Teacher/ViewTeachers" class="elem">Учителя</a>
        <a href="/Teacher/ViewLessons" class="elem">Уроки</a>
        <a href="/Teacher/ChooseClass" class="elem">Оценки</a>
</div>

