
@{
    ViewBag.Title = "TeacherIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="ITeacher">Вы вошли как учитель. Можете выбрать действие в меню выше и перейти к работе.</p>

<img src="~/Images/home.jpg" class="background" />

