@model IEnumerable<ElectronicJournnal.Models.Class>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 10%; margin-left: 40%;">
    <div style="padding-left: 270px;">
        <a href="/Teacher/AddClassForm">
            <img src="~/Images/add.png" alt="Добавить класс" />
        </a>
    </div>
    <table class="bordered" style="width: 300px;">
        <thead>
            <tr>
                <th>Класс</th>
                <th colspan="2">Действия</th>
            </tr>
        </thead>
            <tbody>
                @using (Html.BeginForm("ViewClasses", "Teacher", FormMethod.Post))
                {
                    foreach (ElectronicJournnal.Models.Class item in Model)
                    {
                        <tr>
                            <td>@item.Class_Name</td>
                            <td><button name="action" class="img" value="@item.Class_ID" style="display: inline-block;"><img src="~/Images/info.png" width="30" height="30" /></button></td>
                            <td><button name="delete" class="img" value="@item.Class_ID" style="display: inline-block;"><img src="~/Images/delete.png" width="30" height="30" /></button></td>
                        </tr>
                    }
                }
              </tbody>
        </table>
</div>
