body {
}

.menu { /* Фиксированное положение */
    top: 0; /* Левый нижний угол */
    width: 100%; /* Ширина слоя */
    position: fixed;
    background-color: white;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 5%;
    border-bottom: 1px solid;
    border-color: #696969;
}

.menuItem {
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: black;
    padding-left: 15px;
    font-weight: 300;
}

    .menuItem:hover {
        text-decoration: none;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        color: grey;
        padding-left: 15px;
        font-weight: 300;
    }

.Journal {
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 25px;
    color: black;
    padding-left: 40px;
    padding-right: 60px;
    font-weight: 500;
}

.background {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 15%;
}

#inf {
    width: 60%;
    font-family: Calibri, sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 20%;
    text-align: center;
    color: grey;
    margin-bottom: 21%;
}

.pointer {
    position: absolute;
    margin-top: 38%;
    margin-left: 43%;
    font-family: Calibri, sans-serif;
    font-size: 28px;
    color: #696969;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.5;
}

.MyFooter {
    border-top: 1px solid;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

    .MyFooter li {
        text-decoration: none;
        font-family: Calibri, sans-serif;
        font-size: 20px;
        color: black;
        padding-left: 300px;
        font-weight: 300;
        display: inline;
    }

.T {
    position: absolute;
    margin-top: 20%;
    margin-left: 31%;
    font-family: Calibri, sans-serif;
    font-size: 35px;
    color: #696969;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
}

    .T:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

.P {
    position: absolute;
    margin-top: 20%;
    margin-left: 51%;
    font-family: Calibri, sans-serif;
    font-size: 35px;
    color: #696969;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
}

    .P:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

.title {
    margin-left: 43%;
    font-family: Calibri, sans-serif;
    font-size: 35px;
    color: #696969;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.Pas {
    font-family: Calibri, sans-serif;
    font-size: 25px;
    color: #696969;
    font-weight: 400;
    padding-bottom: 5%;
    padding-left: 120px;
}

.Choise {
    font-family: Calibri, sans-serif;
    font-size: 25px;
    color: #696969;
    font-weight: 400;
    padding-bottom: 10%;
    padding-left: 250px;
}

.teacher {
    width: 400px;
    height: 400px;
    margin-bottom: 5%;
    margin-left: 20%;
}

.parent {
    margin-bottom: 8%;
    margin-left: 25%;
    width: 540px;
    height: 400px;
}

#teacher {
    margin-bottom: 5%;
}

.ForTeacher td {
    width: 10000px;
}

input[type=password] {
    width: 35%;
    padding: 8px 4px 8px 10px;
    border: 1px solid #4e3043;
    border: 1px solid rgba(78,48,67, 0.8);
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: #696969;
    margin-top: 5%;
}

.submit {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #5F9EA0;
    padding: .4em 3em;
    outline: none;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
}

    .submit:hover {
        background: #008B8B;
    }

    .submit:active {
        background: #008080;
    }

.ITeacher {
    position: absolute;
    margin-top: 20%;
    margin-left: 27%;
    font-family: Calibri, sans-serif;
    color: #696969;
    font-weight: 400;
    font-size: 35px;
    text-decoration: none;
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    width: 45%;
    text-align: center;
}

